

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-principal: rgb(97, 23, 23);
  --color-secundario: rgb(193, 215, 26);
  --color-fondo: #f9f6f4;
  --color-texto: #333;
}

a {
    color: rgb(97, 23, 23);
    text-decoration: none;
}


h1 {
    font-family: "Imperial Script", cursive;
    color: rgb(97, 23, 23);
    font-size: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

h2, h3 {
    font-family: "Playfair Display", serif;
    color: rgb(69, 56, 68);
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

h2 { font-size: 130%; }
h3 { font-size: 100%; }

h4 {
    font-family: "Playfair Display", serif;
    color: rgb(50, 16, 16);
    margin: 30px 30%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 5px rgb(230, 230, 230);
}

h5 {
    font-family: "Imperial Script", cursive;
    color: rgb(97, 23, 23);
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-shadow: 2px 2px 5px rgb(230, 230, 230);
}

p {
    font-family: "Imperial Script", cursive;
    color: rgb(97, 23, 23);
    font-size: 18px;
    text-align: center;
    margin: 30px;
}

p2 {
    font-family: "Imperial Script", cursive;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    margin: 30px;
}

/* Footer */

footer {
    margin: 100px 70px 50px;
    background-color: rgb(97, 23, 23);
    padding: 22px 15px;
    color: #fff;
    border-radius: 30px;
}

footer p { color: #fff; }

.options {
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.options a {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

.contact {
    margin-top: 50px;
    font-size: 15px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

/* Menú */


#menu ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

#menu ul li a {
    font-size: 30px;
    font-weight: bold;
    font-family: "Imperial Script", cursive;
}




#menu {
    bottom: 1;
    width: 100%;
    height: 3em;
    align-items: center;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}

#menu > div:first-child > i,
#menu > div:first-child > ul > li:last-child {
    display: none;
}

#menu > div:first-child > ul {
    width: 30em;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#menu > div:first-child > ul > li {
    list-style: none;
}

#menu > div:nth-child(2) {
    width: 6em;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu > div:nth-child(2) > i {
    cursor: pointer;
}


#menu > p > a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

#menu > div > i,
#menu > div > ul > li > a,
#menu > div > i,
#menu > h1 > a {
    color: white;
}


@media screen and (max-width: 750px) {

    #menu > div:first-child > i {
        display: block;
        cursor: pointer;
    }

    #menu > div:first-child > ul {
        position: fixed;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 30% 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition-duration: 1s;
    }

    #menu > div:first-child > ul > li > a {
        text-decoration: none;
        font-size: 2em;
    }

    #menu > div:first-child > ul > li:last-child {
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #menu > div:first-child > ul > li:last-child > i {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }
}





#menu > div:first-child > ul > li > a {
  color: #611717; /* cambia por el color que quieras */
}

#menu > div:first-child > ul > li > a:hover {
    color: rgb(193, 215, 26);
}


/* Index */

.index { background-color: antiquewhite; }

.viñedo {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.viñedo img {
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.sect {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 150px;
}

.up {
    display: block;
    width: 80%;
    margin: 50px auto 20px;
    border-radius: 50px;
}

.boton-txt {
    padding: 8px 12px;
    background-color: rgb(97, 23, 23);
    color: aliceblue;
    border-radius: 8px;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 15px;
    margin: 0 auto 10%;
    display: block;
}

.boton-txt:hover {
    background-color: rgb(179, 192, 80);
}


.fondobody {
    background-image: url(https://img.freepik.com/fotos-premium/fondo-frutas-uvas-uvas-verdes-arriba-panorama_770123-506.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.experiencia { margin-top: 10%; }

.galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.galeria figure {
    position: relative;
    width: 25%;
}

.galeria figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Playfair Display", serif;
    opacity: 0;
    transition: 0.5s;
}

.galeria figcaption:hover { opacity: 1; }

.bodega {
    display: flex;
    justify-content: space-around;
}

.bodegatext1 {
    margin-top: 200px;
}

.info1, .info2 {
    width: 30%;
    margin-top: 10%;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.video1 {
    width: 70%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    border: none;
}

img, iframe {
    width: 100%;
    vertical-align: middle;
}

/* Reseñas */

.fondobody2 {
    background-image: url(https://img.freepik.com/fotos-premium/fondo-frutas-uvas-uvas-verdes-arriba-panorama_770123-506.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

.wrapper {
    position: relative;
    text-align: center;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.op {
    padding: 40px;
    border: 5px rgb(193, 215, 26) solid;
    background-color: rgb(234, 237, 203);
    border-radius: 5%;
    width: 300px;
    margin: 100px auto;
}

.container {
    display: flex;
    justify-content: space-around;
}

/* Entradas */

form {
    width: 30%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.relleno { margin-bottom: 10%; }

.container4 {
    display: flex;
    justify-content: center;
}

.container5 {
    display: flex;
    flex-direction: column;
    width: 5%;
    margin-top: 5%;
}

.boton4, .boton5, .boton6 {
    background-color: rgb(193, 215, 26);
}

.boton4 {
    background-color: #fff;
    font-weight: bold;
}

.boton4:hover,
.boton4:focus,
.boton4:active {
    background-color: rgb(193, 215, 26);
}

/* Animaciones */

.tracking-in-contract {
	animation: tracking-in-contract 0.8s cubic-bezier(0.215,0.610,0.355,1.000) both;
}

@keyframes tracking-in-contract {
  0% { letter-spacing: 1em; opacity: 0; }
  40% { opacity: 0.6; }
  100% { letter-spacing: normal; opacity: 1; }
}

/*  */


.galeria2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.experiencia-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border: 3px solid rgb(193, 215, 26);
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.experiencia-item img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.info-exp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-exp p {
    font-family: "Playfair Display", serif;
    font-size: 1.2em;
    color: rgb(69, 56, 68);
}

.info-exp input[type="number"] {
    width: 70px;
    font-size: 1.2em;
    border: 2px solid rgb(97, 23, 23);
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

.total-price-cont {
    margin-top: 40px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(97, 23, 23);
}

/* Media Queris */

/*Ordenador */
@media (min-width: 1025px) {
    .viñedo, .bodega, .sect, .calculo {
        flex-direction: row;
        justify-content: space-around;
    }
    .galeria > figure,
    .galeria2 > figure {
        width: 25%;
    }
}

/*Tablet */
@media (max-width: 1024px) and (min-width: 769px) {
    h1 { font-size: 40px; }

    .menu ul { gap: 16px; }

    .viñedo, .bodega, .sect, .calculo {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .galeria > figure,
    .galeria2 > figure { width: 45%; }

    footer {
        width: 390px;
        height: 200px;
        margin-left: 0px;
    }


        .options a {
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}

.contact {
    margin-top: 50px;
    font-size: 8px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

    .form {
        width: 60%;
        margin-left: 20%;
    }

    .container {
        display: flex; 
        flex-direction: column;
    }
}

/* Móvil */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .viñedo, .bodega, .sect, .calculo {
        flex-direction: column;
        align-items: center;
    }

    .galeria > figure,
    .galeria2 > figure {
        width: 100%;
    }

    form {
        width: 90%;
        margin: auto;
    }

    footer {
        width: 390px;
        height: 200px;
        margin-left: 0px;
    }

    .options a {
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 500;
}

.contact {
    margin-top: 50px;
    font-size: 8px;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}

    .boton-txt {
        width: 80%;
        margin: 20px auto;
    }

    .experiencia-item {
        flex-direction: column;
        width: 90%;
    }

    .info-exp {
        flex-direction: column;
        gap: 10px;
    }


    .container {
        display: flex; 
        flex-direction: column;
    }
}
